{% load static %}

<header>
    
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    
    <a href="{% url 'home' %}"> <button type="button" class="btn btn-info">Home</button>  
    </a><a href="{% url 'lista_noticias' %}"> <button type="button" class="btn btn-info">Noticias</button> </a>  
    <a href="{% url 'login' %}"> <button type="button" class="btn btn-primary">Login</button>  </a>

</header>

{% if user.is_authenticated %}
<p>Bienvenido {{ user.username }}</p>
<a href="{%url 'logout' %}"> <button type="button" class="btn btn-info">Logout</button>     </a>



{% else %}
<p>Necesita realizar un Login</p>
<a href="{%url 'login' %}"><button type="button" class="btn btn-info">Login</button> </a>

<a href="{%url 'signup' %}"> <button type="button" class="btn btn-info">Registrar</button> </a>
{% endif %}

{% block content %}
{% endblock content %}


</body>
</html>
